################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlightRadar/obj/Debug
/.vs/FlightRadar/v15/Server/sqlite3
/.vs/FlightRadar/v15
/FlightRadar/bin/Debug
/FlightRadar/Properties
